.box_card {
  border: 1px solid black;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  border: 1px solid lightgray;
  transition: transform 100ms ease;
}

.box_card:hover {
  transform: scale(1.03);
}

.box_header_card {
  width: 100%;
  height: 50%;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box_card_img {
  width: 75%;
  height: 75%;
  display: block;
  object-fit: contain;
}

.box_card_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0.5em 0.5em 0.5em 0.5em;
}

.box_container_info {
  width: 100%;
  height: 50%;
}

.box_info_brand {
  font-size: 22px;
  margin-bottom: 0;
}

.box_info_title {
  font-size: 20px;
  padding-left: 0.7em;
}

.box_container_price {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.box_card_button {
  width: 50px;
  height: 50px;
  border-radius: 2em;
  background-color: #f85555;
  border: none;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  color: white;
  transition: transform 100ms ease;
  cursor: pointer;
  object-fit: contain;
}

.box_card_button:hover {
  transform: scale(1.1);
}

.bx_card {
  object-fit: contain;
}